body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(232, 232, 229);

}

body div.wrapp {
    height: 100vh;
    max-width: 1480px;
    position: relative;
    margin: 0 auto;

}

img {
    position: absolute;
    width: 100%;
    top: -150px;
}


p {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 170%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(165, 42, 42, 0.8);
    margin-bottom: 20px;

}



.gamebtn {


    position: absolute;
    left: 50%;
    bottom: 40%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 150%;
    background-color: rgb(165, 42, 42);
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    color: white;
    margin-top: 20px;
}



div.quotes {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 60px;
    margin: 0 auto;
    color: black;
    text-align: center;
    line-height: 60px;
    font-size: 160%;
    margin: 10px 0;


}




@media only screen and (max-width:800px) {
    p {
        font-size: 20px;
    }

    .gamebtn {
        font-size: 10px;
        bottom: 50%;
    }

    div.quotes {
        font-size: 20px;
        line-height: 35px;

    }

    img {
        display: none;
    }
}

@media only screen and (max-width:500px) {

    p {
        font-size: 15px;
    }

    .gamebtn {
        font-size: 10px;

    }

    div.quotes {
        font-size: 20px;
        line-height: 30px;
    }


}

@media only screen and (max-height:550px) {

    p {
        font-size: 20px;
    }

    .gamebtn {
        font-size: 15px;
        bottom: 10%;
    }

    div.quotes {
        top: 30%;
        font-size: 25px;
        line-height: 35px;
    }


}